@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --primary-purple: #a855f7; /* Adjust if needed */
  --background-dark: #0f0f0f;
  --background-gray: #1a1a1a;
  --text-light: #e5e7eb;
  --text-dark: #9ca3af;
  --green: #16a34a;
  --red: #dc2626;
  --yellow: #facc15;
  --blue: #2563eb;
  --orange: #f97316;
}

body {
  background-color: var(--background-dark);
  color: var(--text-light);
}
